@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: "Plaster";
  src: url(../fonts/Plaster-Regular.ttf);
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue.ttf);
}
